{{TEMPLATE:Plain}}
<input type="file" name="{{_Field}}" /><br />
{{_Value}}
{{/TEMPLATE:Plain}}

{{TEMPLATE:Picture}}
<input type="file" name="{{_Field}}" />
<table cellspacing="3" cellpadding="0" border="0">
<tr>
<td class="form_right">{{_Preview}}</td>
<td class="form_right">{{_Value}}</td>
</tr>
</table>
{{/TEMPLATE:Picture}}


{{TEMPLATE:Picture_Readonly}}
<table cellspacing="3" cellpadding="0" border="0">
<tr>
<td class="form_right">{{_Preview}}</td>
</tr>
<tr>
<td class="form_right">{{_Value}}</td>
</tr>
</table>
{{/TEMPLATE:Picture_Readonly}}
