{{TEMPLATE:Hor}}
  <table cellspacing="0" cellpadding="0" border="0" >
  <tr>
  {{TEMPLATE:Hor_Item}}
    <td style="padding-right:20px">
      <div><b>{{_GroupName}}</b></div>
      {{GROUPS}}
    </td>
  {{/TEMPLATE:Hor_Item}}
  </tr>
  </table>
{{/TEMPLATE:Hor}}
{{TEMPLATE:Hor_Empty}} {{/TEMPLATE:Hor_Empty}}



{{TEMPLATE:Plain}}
{{GROUPS}}
{{/TEMPLATE:Plain}}

{{TEMPLATE:Plain_Groups}}
<table cellspacing="3" cellpadding="0" border="0" width="100%">
  {{TEMPLATE:Plain_Groups_Item}}
   <tr>
    <td><input {{_OnChange}} id="chk{{_Field}}_{{_GroupId}}_{{_Count}}" type="radio" name="{{_Field}}" value="{{_Href}}" /></td>
    <td width="100%" class="form_right_t"><label for="chk{{_Field}}_{{_GroupId}}_{{_Count}}">{{_Text}}</label></td>
   </tr>
  {{/TEMPLATE:Plain_Groups_Item}}
</table>
{{/TEMPLATE:Plain_Groups}}
{{TEMPLATE:Plain_Groups_Empty}}
{{/TEMPLATE:Plain_Groups_Empty}} 

  {{TEMPLATE:Plain_Groups_Item_Current}}
   <tr>
    <td><input {{_OnChange}} id="chk{{_Field}}_{{_GroupId}}_{{_Count}}" type="radio" name="{{_Field}}" checked value="{{_Href}}" /></td>
    <td width="100%" class="form_right_t"><b style="color:#804444"><label for="chk{{_Field}}_{{_GroupId}}_{{_Count}}">{{_Text}}</label></b></td>
   </tr>
  {{/TEMPLATE:Plain_Groups_Item_Current}}
