<!-- Как выглядит форма -->


{{TEMPLATE:Form}}
{{Form}}
<!-- !!!! We need to move wikiedit & dedit out of here -->
<!--script language="JavaScript" src="{{theme}}/js/dedit.js"></script--> 
<script type="text/javascript" src="{{theme}}/js/protoedit.js"></script>
<script type="text/javascript" src="{{theme}}/js/simpleedit2.js"></script>
<script type="text/javascript" src="{{theme}}/js/wikiedit2.js"></script>
<script type="text/javascript" src="{{theme}}/js/richedit.js"></script>
<script type="text/javascript" src="{{theme}}/js/autosave.js"></script>
<input type="hidden" name="__form_present" value="{{FormName}}">

{{CUSTOM}}
<div class="form_buttons_top">
<table cellspacing="1" cellpadding="5" border="0" width="100%">
{{BUTTONS_SMALL}}
</table>
</div>

{{AFTER_BUTTONS}}

{{TEMPLATE:Form_Item}}
<script language="JavaScript">
 flipGroupAdd('{{GroupID}}');
</script>
<div class="form_group">
<div class="form_group_title{{GroupHidden}}" id="group_{{GroupID}}_title" 
     onmouseover = "flipGroupLit('{{GroupID}}');"
     onmouseout  = "flipGroupDim('{{GroupID}}');"
     onclick="flipGroup('{{GroupID}}'); return false;"
     ondblclick="flipOpenAll('{{GroupID}}'); return false;";
     >
 <a href="javascript:;" 
    onkeydown   = "Key = event.keyCode;  if (Key==0) Key = event.charCode; return flipGroupKey(Key, '{{GroupID}}');"
    onkeyup     = "this.focus();"
    onfocus     = "flipGroupLit('{{GroupID}}');"
    onblur      = "flipGroupDim('{{GroupID}}');"
    onmouseover = "flipGroupLit('{{GroupID}}');"
    onmouseout  = "flipGroupDim('{{GroupID}}');"
   ><img name="group_{{GroupID}}_icon" src="{{theme_images}}hidegroup{{GroupState}}.gif" width="12" height="12" align="right" alt="свернуть/развернуть группу" title="свернуть/развернуть группу" border="0" /></a>
{{GroupName}}</div>
<div id="group_{{GroupID}}_body" class="form_group_body{{GroupHidden}}">
<table style="font-size:1em" cellspacing="0" cellpadding="0" border="0" width="100%"><tr><td class="form_border">
<table style="font-size:1em" cellspacing="1" cellpadding="5" border="0" width="100%">
{{FIELDS}}
</table>
</td></tr></table>
</div>
</div>
{{/TEMPLATE:Form_Item}}
<div class="form_buttons">
<table cellspacing="1" cellpadding="5" border="0" width="100%">
{{BUTTONS}}
</table>
</div>
{{CUSTOMBOTTOM}}
{{/Form}}
{{/TEMPLATE:Form}}


{{TEMPLATE:Form_Empty}}
[to be supplied.]
В форме нет полей. Увы и ах.
{{/TEMPLATE:Form_Empty}}


<!-- как линкуются кнопочки -->
{{TEMPLATE:Buttons}}
<tr><td class="form_left"><img src="{{theme_images}}z.gif" width="100" height="1" alt="" border="0" /></td>
    <td style="width:100%" class="form_right">
  {{TEMPLATE:Buttons_Item}}[do not applicable.]{{/TEMPLATE:Buttons_Item}}
</td></tr>
{{/TEMPLATE:Buttons}}


{{TEMPLATE:Buttons_Wysiwyg}}
<tr><td class="form_right" style='text-align:right'>
  {{TEMPLATE:Buttons_Wysiwyg_Item}}[do not applicable.]{{/TEMPLATE:Buttons_Wysiwyg_Item}}
</td></tr>
{{/TEMPLATE:Buttons_Wysiwyg}}


{{TEMPLATE:Buttons_Empty}}&nbsp;{{/TEMPLATE:Buttons_Empty}}


<!-- Как выглядят отдельные строки формы -->
{{TEMPLATE:Row}}
<tr>
<td nowrap class="form_left">{{_Name}}{{_Nessesary}}</td><td class="form_right">{{_Data}}<div>{{_Error}}</div></td>
</tr>
{{/TEMPLATE:Row}}

{{TEMPLATE:Row_Highlighted}}
<tr class="highlighted-">
<td nowrap class="form-left">{{_Name}}{{_Nessesary}}</td><td class="form-right">{{_Data}}<div>{{_Error}}</div></td>
</tr>
{{/TEMPLATE:Row_Highlighted}}

{{TEMPLATE:Row_Hidden}}
{{/TEMPLATE:Row_Hidden}}

{{TEMPLATE:Row_Described}}
<tr>
<td nowrap class="form_left">{{_Name}}{{_Nessesary}}</td><td class="form_right">{{_Data}}<div>{{_Error}}</div><div class="form_desc">{{_Desc}}</div></td>
</tr>
{{/TEMPLATE:Row_Described}}


{{TEMPLATE:Row_Span}}
<tr>
<td colspan=2 class="form_right"><div class="form_span_name">{{_Name}}{{_Nessesary}}</div>{{_Data}}<div>{{_Error}}</div></td>
</tr>
{{/TEMPLATE:Row_Span}}

{{TEMPLATE:Row_Span_Described}}
<tr>
<td colspan=2 class="form_right"><div class="form_span_name">{{_Name}}{{_Nessesary}}</div>{{_Data}}<div>{{_Error}}</div><div class="form_desc">{{_Desc}}</div></td>
</tr>
{{/TEMPLATE:Row_Span_Described}}



{{TEMPLATE:Form_Wysiwyg}}
{{Form}}
<input type="hidden" name="__form_present" value="{{FormName}}">

{{CUSTOM}}

{{TEMPLATE:Form_Wysiwyg_Item}}
<table cellspacing="1" cellpadding="5" border="0" width="100%">
<div class="form_buttons">
{{BUTTONS}}
</div>
</table>
<div class="form_group">
<div class="form_group_title{{GroupHidden}}" id="group_{{GroupID}}_title" onclick="flipGroup('{{GroupID}}'); return false;">
 <a href="javascript:;" 
   ><img name="group_{{GroupID}}_icon" src="{{theme_images}}hidegroup{{GroupState}}.gif" width="12" height="12" align="right" alt="свернуть/развернуть группу" title="свернуть/развернуть группу" border="0" /></a>
{{GroupName}}</div>
<div id="group_{{GroupID}}_body" class="form_group_body{{GroupHidden}}">
<table cellspacing="0" cellpadding="0" border="0" width="100%"><tr><td class="form_border">
<table cellspacing="1" cellpadding="5" border="0" width="100%">
{{FIELDS}}
</table>
</td></tr></table>
</div>
</div>
{{/TEMPLATE:Form_Wysiwyg_Item}}
{{/Form}}
{{/TEMPLATE:Form_Wysiwyg}}

{{TEMPLATE:Row_Dynamic_Vis}}
<tr>
<td colspan=2 class="form_right">
<div id="rdv{{_Field}}">
<div class="form_span_name">{{_Name}}{{_Nessesary}}</div>{{_Data}}<div>{{_Error}}</div>
<script>
  var soLast = "{{_Field}}";
  var deInit = {{DeInit}};
  var form = "{{FormName}}";
</script>
</div>
</td>
</tr>
{{/TEMPLATE:Row_Dynamic_Vis}}

{{TEMPLATE:Row_Dynamic_Hid}}
<tr>
<td colspan=2 class="form_right">
<div id="rdv{{_Field}}" style="display:none;">
<div class="form_span_name">{{_Name}}{{_Nessesary}}</div>{{_Data}}<div>{{_Error}}</div>
</div>
</td>
</tr>
{{/TEMPLATE:Row_Dynamic_Hid}}

<tr><td class="form_left"><img src="{{theme_images}}z.gif" width="100" height="1" alt="" border="0" /></td>
    <td style="width:100%" class="form_right">


{{TEMPLATE:Row_Dynamic_Vis_Small}}
<tr>
<td nowrap class="form_left">{{_Name}}{{_Nessesary}}</td>
<td class="form_right">
<div id="rdv{{_Field}}">
{{_Data}}<div>{{_Error}}</div>
<script>
  var soLast = "{{_Field}}";
  var deInit = {{DeInit}};
  var form = "{{FormName}}";
</script>
</div>
</td>
</tr>
{{/TEMPLATE:Row_Dynamic_Vis_Small}}

{{TEMPLATE:Row_Dynamic_Hid_Small}}
<tr>
<td nowrap class="form_left">{{_Name}}{{_Nessesary}}</td>
<td class="form_right">
<div id="rdv{{_Field}}" style="display:none;">
{{_Data}}<div>{{_Error}}</div>
</div>
</td>
</tr>
{{/TEMPLATE:Row_Dynamic_Hid_Small}}
