{{TEMPLATE:default}}
<div style="float:left" class="edit-in-place">{{Edit1Click:BODY}}
<!-- -->
<div class="edit-in-place-link-">
 <nobr><a target="_blank" onclick="{{1:js}}" href="{{1:href}}">{{1:text}}</a></nobr>
</div></div>
<br clear="all" />
{{/TEMPLATE:default}}

{{TEMPLATE:link}}
<a target="_blank" onclick="{{1:js}}" href="{{1:href}}">{{1:text}}</a>
{{/TEMPLATE:link}}

{{TEMPLATE:texts}}
<div class="edit-in-place">{{Edit1Click:BODY}}
<!-- -->
<div class="edit-in-place-link-">
 <a target="_blank" onclick="{{1:js}}" href="{{1:href}}">{{1:text}}</a>
</div></div>
{{/TEMPLATE:texts}}