{{TEMPLATE:Ok}}
Ура!
{{/TEMPLATE:Ok}}

{{TEMPLATE:Ok_Notified}}
Ура! 
{{/TEMPLATE:Ok_Notified}}

{{TEMPLATE:Ok_Confirmed}}
Ура! 
{{/TEMPLATE:Ok_Confirmed}}

------

!!!! refactor
{{TEMPLATE:ConfirmForm}}
Ура! 
<div class="news_text">
{{Form}}
Подписка на email: <input size=30 type="text" value="{{_Email}}" name="email" />
<br />
Код подтверждения: <input size=40 type="text" value="{{_Confirm}}" name="confirm" />
<br />
<input type="submit" value="Подписаться!" />
{{/Form}}
</div>
{{/TEMPLATE:ConfirmForm}}

