<h1 class="title">¬ход на узел (дл€ вас, хакеры!)</h1>
<table cellspacing="0" cellpadding="0" border="0" ><tr><td align="center" >
<table border=0 cellspacing=10 cellpadding=0>
{{Form}}
<tr><td colspan=2 style='font:11px Tahoma' align=left><div class="error">{{Error}}</div></td>
</tr>
<tr><td style='font:11px Tahoma' align=left>{{!Login}}:</td>
    <td align=left>
     <input type=text size=15 name=_cheatlogin value='{{CookieLogin}}'>
     <input type=submit value='{{!DoLogin}}'>
    </td>
</tr>
{{/Form}}
</table>
</td></tr></table>
<script language=JavaScript>
  loginForm._cheatlogin.focus();
</script>

