<?xml version="1.0" encoding="windows-1251"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
  <head>
    <meta content="text/html; charset=windows-1251" http-equiv="Content-Type" />
    <title>{{Html:TITLE}} -- {{NodeName}}</title>
    <link rel="stylesheet" href="{{theme}}/css/default.css" type="text/css" />
    <link rel="stylesheet" href="{{theme}}/css/rubrika.css" type="text/css" />
    <link rel="SHORTCUT ICON" href="{{theme_images}}favicon/node.ico" />
    <script type="text/javascript" src="{{theme}}/js/default.js"></script>
    <script type="text/javascript" src="{{theme}}/js/travel.js"></script>
    <script type="text/javascript"> 
     var imgDir="{{theme}}/images/calendar/"; 
    </script>
    <script type="text/javascript" src="{{theme}}/js/calendar.js"></script>
    {{&header}}
  </head>
<body id='idBody' onload='preloadImages("{{theme}}images/");npjInit();{{&onload}}' leftmargin=0 topmargin=0 rightmargin=0 bottommargin=0 marginwidth=0 marginheight=0>
<a id='top' name='top'></a>

{{html_body}}

</body>
</html>