<h1 class="title">Внимание!</h1>

Только что вы попытались ввести свой логин и пароль на неродном узле.
Этого делать не стоит &#151; ладно, мы такие хорошие и не будем ваш пароль
запоминать, чтобы потом входить под вашим именем уже на ваш же родной узел.

<br /><br />
Среди неродных узлов может попасться и злодейский, так что будьте внимательны
и вводите логин/пароль <b>только на своём родном узле</b>.

<br /><br />
Кстати, вот что вам сейчас следует сделать:
<ul><li>
<b><a href="{{Login.MyNodeURL}}login/{{Login.Login}}">Логин на вашем родном узле</a></b> &#151; 
<nobr>&laquo;{{Login.MyNodeName}}&raquo; (<b>@{{Login.MyNodeID}}</b>)</nobr> <br />
<span class="text"><small class="bonus">Пароль вам придётся ввести снова</small></span></li></ul>

