<!------------------- Анонсирование документа  ------------------------>
{{TEMPLATE:AnnouncedDoc}}
 <ul><li>Ссылка на документ: {{Link:announced}}</li></ul>
{{/TEMPLATE:AnnouncedDoc}}

<!------------------- Типовая панель комментариев --------------------->
{{TEMPLATE:CommentPanel}}
   <div class="feed-comments">
   <div class="panel-">
    <a href="{{Href:tag}}" title="permalink">&#149;</a> 
    {{?is_owner}}            | <a href="{{Href:tag}}/edit">Правка</a>{{?/}}
    {{?Href:mod}}            | <a href="{{Href:mod}}">Снять с публикации</a>{{?/}}
    {{?Href:announced}}      | <a href="{{Href:announced}}" >Анонсированный документ</a>{{?/}}
    {{?number_comments}}     | <a href="{{Href:comments_target}}/comments?nc={{number_comments}}#comments" >Комментарии</a> ({{number_comments}}){{?/}}
    {{?!disallow_comments}}  | <a href="{{Href:comments_target}}/comments/add#comments_add" >Добавить комментарий</a>{{?/}}
   </div>
   </div>
{{/TEMPLATE:CommentPanel}}

<!---------------------------------- full ----------------------------------------->
{{TEMPLATE:List_full}}
 {{TEMPLATE:List_full_Item}}
  <table class="feed" cellspacing="0" cellpadding="5" border="0" width="100%">
   <tr>
    <td valign="bottom" class="feed-info{{announce}}">
     <div class="panel-">
     <img src="{{images}}time.gif" class="time-" border="0" alt="" /> {{dt}}
     <div class="access-"><b>Доступ:</b> {{security_title}}</div>
     <div class="crossposted-">{{crossposted}}</div>
     {{?replica}}<div class="replica-">{{replica}}</div>{{?/}}
     </div>
     <div class="feed-title">{{subject_post}}</div>
    </td>
   </tr>
  </table>
  <div class="feed-body">
  {{?Href:announced}}{{@actions/_feed.html:AnnouncedDoc}}{{?/}}
  {{body_post}}
  {{@actions/_feed.html:CommentPanel}}
  </div>
 {{/TEMPLATE:List_full_Item}}

{{@actions/_prevnext.html:PrevNext}}
{{/TEMPLATE:List_full}}
{{TEMPLATE:List_full_Empty}}
<div class="feed-none">{{data_empty}}</div>
{{/TEMPLATE:List_full_Empty}}


<!---------------------------------- userpics ----------------------------------------->
<!--- это аналог authors, только без упоминания автора ------------------------>
{{TEMPLATE:List_userpics}}
 {{TEMPLATE:List_userpics_Item}}
  <table class="feed" cellspacing="0" cellpadding="5" border="0" width="100%">
   <tr>
    <td valign="bottom" class="feed-info{{announce}}">
     <div class="panel-">
     <img src="{{images}}time.gif" class="time-" border="0" alt="" /> {{dt}}
     <div class="access-"><b>Доступ:</b> {{security_title}}</div>
     {{?crossposted}}
     <div class="crossposted-">{{crossposted}}</div>
     {{?/}}
     {{?replica}}<div class="replica-">{{replica}}</div>{{?/}}
     </div>
     <div class="feed-title">{{subject_post}}</div>
    </td>
    <td class="feed-userpic{{announce}}"><img src="{{images}}z.gif" width="100" height="1" border="0" alt="" /><br />{{userpic}}</td>
   </tr>
  </table>
  <div class="feed-body">
  {{?Href:announced}}{{@actions/_feed.html:AnnouncedDoc}}{{?/}}
  {{body_post}}
  {{@actions/_feed.html:CommentPanel}}
  </div>
 {{/TEMPLATE:List_userpics_Item}}
{{@actions/_prevnext.html:PrevNext}}
{{/TEMPLATE:List_userpics}}
{{TEMPLATE:List_userpics_Empty}}
<div class="tree_none">{{data_empty}}</div>
{{/TEMPLATE:List_userpics_Empty}}

<!---------------------------------- authors ----------------------------------------->
<!--- это аналог френдс, только для вывода внутри record.html ------------------------>
{{TEMPLATE:List_authors}}
 {{TEMPLATE:List_authors_Item}}
  <table class="feed" cellspacing="0" cellpadding="5" border="0" width="100%">
   <tr>
    <td valign="bottom" class="feed-info{{announce}}">
     <div class="panel-">
     {{Link:user}} <strong>({{edited_user_name}})</strong> <br />
     <img src="{{images}}time.gif" class="time-" border="0" alt="" /> {{dt}}
     <div class="access-"><b>Доступ:</b> {{security_title}}</div>
     {{?crossposted}}
     <div class="crossposted-">{{crossposted}}</div>
     {{?/}}
     {{?replica}}<div class="replica-">{{replica}}</div>{{?/}}
     </div>
     <div class="feed-title">{{subject_post}}</div>
    </td>
    <td class="feed-userpic{{announce}}"><img src="{{images}}z.gif" width="100" height="1" border="0" alt="" /><br />{{userpic}}</td>
   </tr>
  </table>
  <div class="feed-body">
  {{?Href:announced}}{{@actions/_feed.html:AnnouncedDoc}}{{?/}}
  {{body_post}}
  {{@actions/_feed.html:CommentPanel}}
  </div>
 {{/TEMPLATE:List_authors_Item}}
{{@actions/_prevnext.html:PrevNext}}
{{/TEMPLATE:List_authors}}
{{TEMPLATE:List_authors_Empty}}
<div class="tree_none">{{data_empty}}</div>
{{/TEMPLATE:List_authors_Empty}}


<!---------------------------------- friends ----------------------------------------->
<!--- Эта лента будет выводиться внутри friends.html, а не record.html ---------------->
<!--- только в адресах вида http://npj.sky.ru/npj/kuso/friends        ---------------->
<!--- это чтобы можно было делать чанки по записям ----------------------------------->
{{TEMPLATE:List_friends}}
 {{TEMPLATE:List_friends_Item}}
  <table class="feed" cellspacing="0" cellpadding="5" border="0" width="100%">
   <tr>
    <td valign="bottom" class="feed-info{{announce}}">
     <div class="panel-">
     {{Link:user}} <strong>({{edited_user_name}})</strong> <br />
     <img src="{{images}}time.gif" class="time-" border="0" alt="" /> {{dt}}
     <div class="access-"><b>Доступ:</b> {{security_title}}</div>
     {{?crossposted}}
     <div class="crossposted-">{{crossposted}}</div>
     {{?/}}
     {{?replica}}<div class="replica-">{{replica}}</div>{{?/}}
     </div>
     <div class="feed-title">{{subject_post}}</div>
    </td>
    <td class="feed-userpic{{announce}}"><img src="{{images}}z.gif" width="100" height="1" border="0" alt="" /><br />{{userpic}}</td>
   </tr>
  </table>
  <div class="feed-body">
  {{?Href:announced}}{{@actions/_feed.html:AnnouncedDoc}}{{?/}}
  {{body_post}}
  {{@actions/_feed.html:CommentPanel}}
  </div>
 {{/TEMPLATE:List_friends_Item}}

{{@actions/_prevnext.html:PrevNext}}
{{/TEMPLATE:List_friends}}
{{TEMPLATE:List_friends_Empty}}
<div class="tree_none">{{data_empty}}</div>
{{/TEMPLATE:List_friends_Empty}}



<!---------------------------------- members ----------------------------------------->
<!--- Это как правило лента сообщества. Важно, что здесь показываются юзерпики  ------>
{{TEMPLATE:List_members}}
 {{TEMPLATE:List_members_Item}}
  <table class="feed" cellspacing="0" cellpadding="5" border="0" width="100%">
   <tr>
    <td valign="bottom" class="feed-info{{announce}}">
     <div class="panel-">
       {{Link:user}} <strong>({{edited_user_name}})</strong> <br />
       <img src="{{images}}time.gif" class="time_" border="0" alt="" /> {{dt}}
       <div class="access-"><b>Доступ:</b> {{security_title}}</div>
       {{?replica}}<div class="replica-">{{replica}}</div>{{?/}}
     </div>
     <div class="feed-title">{{subject_post}}</div>
    </td>
    <td class="feed-userpic{{announce}}"><img src="{{images}}z.gif" width="100" height="1" border="0" alt="" /><br />{{userpic}}</td>
   </tr>
  </table>
  <div class="feed-body">
  {{?Href:announced}}{{@actions/_feed.html:AnnouncedDoc}}{{?/}}
  {{body_post}}
  {{@actions/_feed.html:CommentPanel}}
  </div>
 {{/TEMPLATE:List_members_Item}}

{{@actions/_prevnext.html:PrevNext}}
{{/TEMPLATE:List_members}}
{{TEMPLATE:List_members_Empty}}
<div class="feed-none">{{data_empty}}</div>
{{/TEMPLATE:List_members_Empty}}




<!---------------------------------- poloskuns ----------------------------------------->
<!--- Это как правила лента сообщества. Важно, что здесь показываются юзерпики  ------>
{{TEMPLATE:List_poloskuns}}
<style>
.feed-poloskuns {} 
.feed-poloskuns .feed-title { margin-top:0; margin-left:0; font:bold italic 110% Arial } 
.feed-poloskuns .feed-info0, .feed-poloskuns .feed-info1, .feed-poloskuns .feed-info2 
  { width:200px; }
.feed-poloskuns .feed-body { padding:5px; width:100%; color:#444444; font-size:90% } 
.feed-poloskuns .panel- { font:11px Tahoma; padding-top:10px }
.feed-poloskuns .access- td { color:#444444; font:11px Tahoma; background:#DCDCB6 }
</style>
 <table cellspacing="2" cellpadding="5" border="0" class="feed-poloskuns" width="100%">
 {{TEMPLATE:List_poloskuns_Item}}
   <tr>
    <td nowrap="nowrap" valign="top" class="feed-info{{announce}}">
       <strong>{{Link:user}}</strong> 
       <img src="{{images}}time.gif" class="time-" border="0" alt="" /> {{dt}}
       {{@actions/_feed.html:CommentPanel_poloskuns}}
    </td>
    <td valign="top" class="feed-body">
       {{?security_pic}}
        <table cellspacing="0" cellpadding="0" border="0" class="access-">
        <tr><td>&nbsp;&nbsp;<b>Доступ:</b>
            <td><img src="{{images}}security_{{security_pic}}.gif" class="security-{{security}}" /></td>
            <td>{{security_title}}&nbsp;&nbsp;</td>
        </tr></table>
       {{?/}}
       {{?subject}}<div class="feed-title">{{subject_post}}</div> 
      {{?Href:announced}}{{@actions/_feed.html:AnnouncedDoc}}{{?/}}
      {{body_post}}
    </td>
   </tr>
 {{/TEMPLATE:List_poloskuns_Item}}
</table>
{{@actions/_prevnext.html:PrevNext}}
{{/TEMPLATE:List_poloskuns}}
{{TEMPLATE:List_poloskuns_Empty}}
<div class="feed-none">{{data_empty}}</div>
{{/TEMPLATE:List_poloskuns_Empty}}

<!-- специальная панель комментариев для полоскунса --->
{{TEMPLATE:CommentPanel_poloskuns}}
   <div class="panel-">
    <!-- --> 
    {{?!disallow_comments}}  <a href="{{Href:comments_target}}/comments/add#comments_add" >Комментировать</a>{{?/}}
    <!-- --> 
    {{?number_comments}}  |  <a href="{{Href:comments_target}}/comments?nc={{number_comments}}#comments" >Комменты</a>&nbsp;({{number_comments}}) {{?/}}
    <!-- --> 
   </div>
{{/TEMPLATE:CommentPanel_poloskuns}}
