{{TEMPLATE:List_ul}}
<ul class="tree">
 {{TEMPLATE:List_ul_Item}}
  <li><a title="{{tag}} | {{subject}}" href="{{Link:tag}}">{{title}}</a> </li>
 {{/TEMPLATE:List_ul_Item}}
</ul>
{{/TEMPLATE:List_ul}}
{{TEMPLATE:List_ul_Empty}}
<div class="tree_none">Нет связанных записей</div>
{{/TEMPLATE:List_ul_Empty}}


<!------------------------------------------------------------------------->
{{TEMPLATE:List_ol}}
<ol class="tree">
 {{TEMPLATE:List_ol_Item}}
  <li><a title="{{tag}} | {{subject}}" href="{{Link:tag}}">{{title}}</a> </li>
 {{/TEMPLATE:List_ol_Item}}
</ol>
{{/TEMPLATE:List_ol}}
{{TEMPLATE:List_ol_Empty}}
<div class="tree_none">Нет связанных записей</div>
{{/TEMPLATE:List_ol_Empty}}


<!------------------------------------------------------------------------->
{{TEMPLATE:List_br}}
<div class="tree">
 {{TEMPLATE:List_br_Item}}
  <a title="{{tag}} | {{subject}}" href="{{Link:tag}}">{{title}}</a> <br />
 {{/TEMPLATE:List_br_Item}}
</div>
{{/TEMPLATE:List_br}}
{{TEMPLATE:List_br_Empty}}
<div class="tree_none">Нет связанных записей</div>
{{/TEMPLATE:List_br_Empty}}


<!------------------------------------------------------------------------->
