{{TEMPLATE:wrapper_fieldset}}
<fieldset class="action"><legend class="action-title">{{Action:TITLE}}</legend><div class="action-">{{Action:CONTENT}}</div></fieldset>
{{/TEMPLATE:wrapper_fieldset}}


{{TEMPLATE:wrapper_div}}
<div class="action">
<div class="action-title">{{Action:TITLE}}</div>
<div class="action-content">{{Action:CONTENT}}</div>
</div>
{{/TEMPLATE:wrapper_div}}


{{TEMPLATE:wrapper_menu}}
<div class="action no-print" style="float:{{Action:WrapperAlign}}; width:250px">
<div class="action-content">{{Action:CONTENT}}</div>
</div>
{{/TEMPLATE:wrapper_menu}}


{{TEMPLATE:wrapper_include}}
<div class="action">
<div class="action-title2">{{Action:TITLE}}</div>
<div class="action-content">{{Action:CONTENT}}</div>
<div class="action-title2">{{Action:TITLE}}</div>
</div>
{{/TEMPLATE:wrapper_include}}

