<style>
 .trako-interface-menu          { margin:5px; color:#cccccc }
 
</style>

<!--
<div class="trako-interface-menu">
  <b><a href="{{Href:AddSame}}">Добавить такой же рапорт...</a></b>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <small>
   <nobr>
   |
   <a href="{{Href:Add}}">Просто добавить...</a>
   |
   <a href="{{Href:Trako}}">Вернуться в список</a>
   </nobr>
  </small>
</div>
-->

<div class="trako-interface-menu">
  <b><a href="{{Href:Add}}">Добавить рапорт...</a></b>
  &nbsp;
  <small>
   <nobr>
   |
   <a href="{{Href:Trako}}">Вернуться в список</a>
   </nobr>
  </small>
</div>
