<style>
 .trako-self-report {
          text-align:right;
          font-size:80%;
          color:#999999; 
                    }
</style>

   <div class="trako-self-report">
       &copy;&nbsp;2004 <a title="О проекте NPJ Trako"
                           href="http://pixel-apes.com/npj-trako">NPJ Trako</a> {{Trako:Version}} by Pixel&minus;Apes. &mdash; 
       
       <a title="Написать рапорт об ошибке (в новом окне)" 
          target="_blank" href="http://pixel-apes.com/npj-trako/raportydrugikhuzlov/{{Npj:Node}}/trako/add?authto={{Npj:Node}}">Нашли ошибку в NPJ Trako?</a>
   </div>
