<style>
 
 .trako-grid tbody tr.status-new,
 .status-new      { color:#000000; background: #FFA0A0 }
 .trako-grid tbody tr.status-info,
 .status-info     { color:#000000; background: #FF50A8 }
 .trako-grid tbody tr.status-agreed,
 .status-agreed   { color:#000000; background: #FFD850 }
 .trako-grid tbody tr.status-assigned,
 .status-assigned { color:#000000; background: #C8C8FF }
 .trako-grid tbody tr.status-next,
 .status-next     { color:#000000; background: #FFFFB0 }

 .trako-grid tbody tr.state-solved,
 .state-solved   { color:#2FB533; background: #CCEEDD }

 .trako-grid tbody tr.state-closed,
 .state-closed   { color:#eeeeee; background: #aaaaaa }


 .priority-0  { color: #888888; }
 .priority-1  { color: #222222; }
 .priority-2  { color: #660000; }
 .priority-10 { color: #FF0000; font-weight:bold; }
</style>
