&copy; 2003&minus;2005. Проект НПЖ (<a href="http://npj.ru/node/chastyevoprosy/chtotakoenpj" 
title="Что такое НПЖ?">Net Project Journal</a>). 

<div>
Разработчики ПО НПЖ: {{~npjdev@npj}}. Контактный E-mail: 
<nobr><a href="mailto:info@npj.ru" title="Написать письмо
(вызов вашей почтовой программы)"><img src="{{theme_images}}i_mail.gif" align="absmiddle" class="mail" border="0" title="Написать письмо
(вызов вашей почтовой программы)" alt="почта" />info@npj.ru</nobr></a>
<br /><br />
Контактный ICQ UIN: 
<a href="http://icq.com/551593" title="Добавить в контакт-лист ICQ"><img hspace='0' align='absmiddle' alt='статус' 
   src='http://ar.sky.ru/icq.gif' height='18' width='18' />551593</a> 
   &#151; спросить {{~kukutz@npj}}.



</div>