{{TEMPLATE:Panel_Item}}
 <a href="{{_Href}}" title="{{_Title}}">{{_Text}}</a>
{{/TEMPLATE:Panel_Item}}
{{TEMPLATE:Panel_Item_Current}}
 {{_Text}}
{{/TEMPLATE:Panel_Item_Current}}


 {{TEMPLATE:Novice_Item}}
 <div class="link_">
 <a href="{{_Href}}" >{{_Title}}</a>
 </div>
 {{/TEMPLATE:Novice_Item}}
 {{TEMPLATE:Novice_Item_Current}}
<!--
</div>
</div>
<div class="panel_here">
<div class="novice_bg">
-->
 <div class="link_">
 {{_Title}}
 </div>
<!--
</div>
</div>
<div class="panel">
<div class="novice_bg">
-->
 {{/TEMPLATE:Novice_Item_Current}}




