{{TEMPLATE:List}}
<table class="user-links" cellspacing="0" cellpadding="0" border="0" >
<tr>
 <td class="item-" >
{{TEMPLATE:List_Item}}
   <nobr>{{link}}&nbsp;&nbsp;<img src="{{images}}z.gif" width="1" height="13" alt="" border="0" /></nobr>
{{/TEMPLATE:List_Item}}
 </td>
 <td class="item- add-" ><img src="{{images}}z.gif" width="1" height="13" alt="" border="0" />|&nbsp;</td>
 <td nowrap="nowrap" class="item-"><div class="add-">{{Link:UserMenu.Add}}</b><img src="{{images}}z.gif" width="1" height="13" alt="" border="0" /></div></td>
</tr>
</table><img src="{{images}}z.gif" class="block" width="1" height="7" alt="" border="0" />
{{/TEMPLATE:List}}

{{TEMPLATE:List_Empty}}
{{/TEMPLATE:List_Empty}}


