<form method='post' action='{{/}}commentsan' id="formcommentsan" name="form_r1_comments_an">
<input type="hidden" name="__form_present_an" value="form_r1_comments_an" />
<div class="form_span_name">Заголовок</div>
<input type="text" class="w100" name="_subject_an" id="id__subject_an"  value="" />
<div class="form_span_name">Текст комментария<span class="alert">*</span></div>
<textarea class="w100" cols="40" rows="10" name="_body_an"></textarea>
<input name="__button" class="InsertBtn" type="submit" align="top" value="Добавить комментарий" id="save_an" style='margin-bottom:20px' />
</form>
