{{TEMPLATE:List}}
Вот информация, описывающая данный журнал:
<br /><br />
<table cellspacing="5" cellpadding="0" border="0" width="100%">
 {{TEMPLATE:List_Item}}
  <tr>
   <td class="profile-left" nowrap="nowrap"><span class="dot_">&nbsp;</span>{{_Href}}</td>
   <td class="profile-right">{{_Text}}</td>
  </tr>
 {{/TEMPLATE:List_Item}}
</table>

{{/TEMPLATE:List}}

{{TEMPLATE:List_Empty}}
{{/TEMPLATE:List_Empty}}




{{TEMPLATE:Edit}}
Смотрите-ка, а у вас достаточно прав, чтобы <a href="{{Href:Account}}/profile/edit">отредактировать профиль</a>
и <a href="{{Href:Account}}/profile/pictures">сменить аватару (юзерпик)</a>.
<br /><br />
{{/TEMPLATE:Edit}}
