{{??diff_foreign}}

  <div style="float:left" class="diff-title">Вы просматриваете различия между:
   <ul>
     <li><nobr><span class="dt-">{{Version1_datetime}}</span></nobr> <a href="{{Href:Version1}}" >{{Version1}}</a>
      {{??Subject1}}<span class="subject-">&#151; {{Subject1}}</span>{{??/Subject1}}
     </li>
     <li><nobr><span class="dt-">{{Version2_datetime}}</span></nobr> <a href="{{Href:Version2}}" >{{Version2}}</a>
      {{??Subject2}}<span class="subject-">&#151; {{Subject2}}</span>{{??/Subject2}}
     </li>
   </ul>
   <hr size=1 />
  </div>
  <br clear="both">

{{??/diff_foreign}}
{{??!diff_foreign}}
  
  <div style="float:left" class="diff-title">Вы просматриваете различия между
    <nobr><span class="dt-"><a href="{{Href:Version1}}" >{{Version1_datetime}}</a></span></nobr> и 
    <nobr><span class="dt-"><a href="{{Href:Version2}}" >{{Version2_datetime}}</a></span></nobr>.
    <hr size=1 />
  </div>
  <br clear="both">


{{??/diff_foreign}}
 
  {{Diff_post}}
  
